<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	
	<!-- Найстройка нашего хоста: где хост будет работать, на каких портах, 
	какие протоколы будет использовать хост, какое IP будет использовать хост, 
	а также огранизаия перессылки мета-данных от хоста к клиенту (чтобы в клиенте не нужно была прописывать эти конфиги 
	- эти данные клиент будет тянуть автоматически с нашего зоста)  -->
	<system.serviceModel>
		<bindings />
  <client />
  <behaviors>
			<serviceBehaviors>
				<!-- Найстройка поведения обмена мета-данными -->
				<behavior name="mexBeh">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="VoteService_WCF.ServiceVote" behaviorConfiguration="mexBeh">
				<!-- Точки подключения и протоколы работы -->
				
				<!-- Endpoint для самого сервиса, который будет работать на netTcpBinding (по протколу netTcp) -->
				<endpoint address="" binding="netTcpBinding" contract="VoteService_WCF.IServiceVote" />
				
				<!-- Endpoint, который работает для обемена мета-данными будет работать по http -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<!-- Порт, на котором работает сервис -->
						
						<!-- Данный адрес будет использоваться для обемена мета-данными через http -->
						<add baseAddress="http://localhost:8301/" /> 
						
						<!-- А сам наш сервис будет рабоать на netTcp-->
						<add baseAddress="net.tcp://localhost:8302/" />
						
						<!-- Если мы захотим запустить наш сервис на реально существующей машине, то описанные выше два конфига нам нужно будет изменить, а для клиента изменить ссылку на сервис. -->
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>