<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
			<!-- netTcpBinding - данная секция конфигурации задает безопасную, надежную и оптимизированную привязку,
			которая используется для межмашинного взаимодейсвтия. По умолчанию она создает стек протоколов
			связи во время выполнения в дополнении с Windows Security для безопасности и проверки 
			подлинности сообщений. 
			Используется протокол TCP для доставки сообщений и двоичного кодирования сообщений.  -->
            <netTcpBinding>
                <binding name="NetTcpBinding_IServiceVote">
                    <security>
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8302/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IServiceVote" contract="ServiceVote.IServiceVote"
                name="NetTcpBinding_IServiceVote">
                <identity>
                    <userPrincipalName value="LAPTOP-EN3BSNHN\Artem" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
	<!-- Добавление дополнительных настроек в конфигурацию клиента: -->
	<appSettings>
		<!-- Добавление значения пароля для входа -->
		<add key="password" value="55555"></add>
	</appSettings>
</configuration>